.container {
  background: #b0ccdf;
  height: 100vh;
  padding: 0.5rem 1.5rem;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 2px;
  max-width: 50rem;
  padding: 5px;
}

.input {
  width: 98%
}

.todo-button--remove {
  background-color: #d43636; /* Green */
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}